################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CheckPointQuestions/v15/Server/sqlite3/db.lock
/.vs/CheckPointQuestions/v15/Server/sqlite3/storage.ide-shm
/.vs/CheckPointQuestions/v15/Server/sqlite3/storage.ide
/.vs/CheckPointQuestions/v15/Server/sqlite3/storage.ide-wal
/.vs/CheckPointQuestions/v15/.suo
/CheckPointQuestions/bin/Debug
